<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <header>
        <h1>This is the About Page</h1>
        <h2>This page is about Tarantino</h2>
    </header>
    <div class="about-section">
        <h3>Brief information</h3>
        <p class="info-tarantino">Quentin Jerome Tarantino is an American film director, screenwriter, producer, and actor. His films are characterized by nonlinear storylines, dark humor, aestheticization of violence, extended scenes of dialogue, ensemble casts, references to popular culture
             and a wide variety of other films, eclectic soundtracks primarily containing songs and score pieces from the 1960s to the 1980s, alternate history, and features of neo-noir film.
             Born in Knoxville, Tennessee, Tarantino grew up in Los Angeles. He began his career as an independent filmmaker with the release of Reservoir Dogs in 1992, a crime thriller film which was funded by money from the sale of his screenplay True Romance (1993).
             Empire magazine hailed Reservoir Dogs as the "Greatest Independent Film of All Time". His second film, Pulp Fiction (1994), a crime comedy, was a major success among critics and audiences.
             He wrote the screenplay for the horror comedy film From Dusk till Dawn (1996), in which he also starred. Tarantino paid homage to the blaxploitation films of the 1970s with Jackie Brown (1997), an adaptation of Elmore Leonard's novel Rum Punch.</p>
    </div>
    <a class="back-botton" href="/home">Back to home page</a>
</body>
</html>