<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1>List of works</h1>
        <ul>
            <li>Reservoir Dogs</li>
            <li>Pulp Fiction</li>
            <li>Reservoir Dogs</li>
            <li>Jackie Brown</li>
            <li>Kill Bill: Volume 1</li>
            <li>Kill Bill: Volume 2</li>
            <li>Death Proof</li>
            <li>Inglourious Basterds</li>
            <li>Django Unchained</li>
            <li>The Hateful Eight</li>
            <li>Once Upon a Time in Hollywood</li>
        </ul>
        <a href="/home">Back to home page</a>
</body>
</html>